* {
  box-sizing: border-box;
}
.App {
  text-align: center;
}

.x {
  margin-top: -10vh;
}

.xxx {
  height: 100vh;
}

.xd {
  margin-top: -20vh;
}

.xd2 {
  margin-top: 80vh;
}

.size {
  height: 100vh;
}

.card-x:hover {
  transform: scale(1.05);
  box-shadow: 0 0 1em rgb(248, 196, 113);
}
.card {
  transition: 0.3s;
}

.homepage-bg {
  margin-top: -56px;
}

.homepage-bg-x {
  padding-top: 300px;
}

.scroll-y {
  overflow-y: scroll;
  height: 80vh;
  overflow-x: hidden;
}

.footerXD {
  background: rgb(237,41,41);
background: linear-gradient(90deg, rgba(237,41,41,1) 0%, rgba(255,148,20,1) 100%);
}

.containerXD {
  background-color: #FBFCFC;
}

.btn-success {
  background-color: #ff9414;
}